<h1>New todo</h1>

<form id="new-todo" name="todo">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="done"> done:</label>
    <input type="text" name="done" id="done" value="<%= done %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Todo" />
  </div>

</form>

<a href="#/index">Back</a>