<div id="todos"></div>

<script type="text/javascript">
  $(function() {
    window.router = new App.Routers.TodosRouter({todos: <%= @todos.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>